
<h4>In projects.html</h4>

<p>{{ site | inspect}}</p>
<div id="projects">
{% for project in site.projects %}
{{ project | inspect }}

<h2>{{project}}</h2>
{% endfor %}
</div>

<!--
<div id="projects">
{% for year in site.projects %}
<h2>{{year.year}}</h2>
<div class="yearprojects">
  {% for project in year.year %}
    <h3>{{project.name}}</h3>
    <p>{{project.description}}</p>
    {% for performance in project.performances %}
    <h4>{{performance.title}}</h4>
    <h5>{{performance.title}}</h5>
    <p>{{project.description}}</p>
    {% endfor %}
  {% endfor %}
  </div>
{% endfor %}
</div>
-->