---
layout: compress
---
<!-- <html lang="{{ page.lang | default: site.lang | default: "fr" }}"> -->
<html></html>

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      	&nbsp;
    </div>

    <main class="site__content">
    <div id="welcome" class="container">
<h1><a href="{{url}}">{% t pages.welcome %}</a></h1>
<p class="frontinfodescription">{% t global.group_description %}</p>
<hr>
{% for page in site.pages %}

      {% if page.categories contains 'current' %}
        
        {% for performance in page.performances %}
          <div class="performance">
            <h1>{{performance.title}}</h1>
            <h3>{% if performance.subtitle %}
              {{performance.subtitle}}
            {% endif %}</h3>
            {% for performance in performance.guests%}
              {% if performance.name %}<h5>
                {{performance.name}}{% if performance.director %}
                - {{performance.director}}, Directeur(rice)
                {% endif %}</h5>
              {% endif %}
            {% endfor %}
            <h2>{{performance.date}} dés {{performance.time}}</h2>
            <h4>{{performance.venue}}<br/>
            {{performance.address}}</h4>
            {% if performance.facebookurl %}
              <p>Regardez Facebook à <a href="{{performance.facebookurl}}">{{performance.facebookurl}}</a>.</p>
            {% endif %}
            {% if performance.ticketstext %}
              <p>{{performance.ticketstext}}</p>
            {% endif %}
            {% if performance.ticketsurl %}
              <p>Billet disponible à <a href="{{performance.ticketsurl}}">{{performance.ticketsurl}}</a>.</p>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
</div>

<div class="performance  container" style="text-align: center">
  <h1>{% t global.landingMessage1 %}</h1>
  <p>{% t global.landingMessage2 %}</p>
  <p>{% t global.landingMessage3 %}</p>
</div>

<div>
{% for collection in site.data.media %}
  {% for media in collection.media %}
    {% if media.featureOnWelcomePage %}
      {% if media.source contains 'youtube' %}
        <iframe class="centerautomargin" width="900" height="506" src="https://www.youtube.com/embed/{{media.sourceid}}"
        frameborder="0" allowfullscreen></iframe>
      {% endif %}
      {% if media.source contains 'soundcloud' %}
        <iframe class="centerautomargin" width="100%" height="100" scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{media.sourceid}}&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=false"></iframe>
      {% endif %}

    {% endif %}
  {% endfor %}
{% endfor %}
</div>

<div>

  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="2AMAAEHMFGSZ4" />
    <input style="width: auto; border-bottom: none; display: block; margin: 0 auto" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
      title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
  </form>
</div>
</main>

    {% include footer.html %}

  </body>

  <!-- <script>
  window.debug = {
    site: JSON.parse(decodeURIComponent("{{ site | jsonify | uri_escape }}")),
    page: JSON.parse(decodeURIComponent("{{ page | jsonify | uri_escape }}")),
    layout: JSON.parse(decodeURIComponent("{{ layout | jsonify | uri_escape }}")),
    content: JSON.parse(decodeURIComponent("{{ content | jsonify | uri_escape }}")),
    paginator: JSON.parse(decodeURIComponent("{{ paginator | jsonify | uri_escape }}"))
    }
  </script> -->

</html>
